html {
    --light-text-color: #4CAF50;
    --light-detail-color: rgb(76,175,80);
    --light-detail-color-faint: rgba(76,175,80, .2);
    --light-background-color: rgb(245, 241, 241);
    --light-background-color-2: rgba(252, 253, 252, 1);

    
    --dark-text-color: #071107;
    --dark-background-color: rgba(0,0,0,.85);
}
