html {
    --light-background-image: url(../images/starsBackground.jpg);
    --light-detail-color: #4CAF50;
    --light-background-color: rgb(245, 241, 241);
    --light-background-color-2: rgba(252, 253, 252, 1);

    --dark-background-color: rgba(0,0,0,.85);
}
