body {
    min-height: 100vh;
    width: 100%;
    background-color: var(--light-background-color);
}

header {    
    min-height: 10rem;
    min-width: 100%;
    background-color: var(--light-background-color-2);
    border-bottom: 1px solid var(--light-detail-color);
}

.market-overview {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.market-overview__element {
    text-transform: capitalize;
}

.site-title {
    font-size: 4rem;
    margin: 2rem 4rem;
}

.coins {
    margin: 3rem 10rem;
    background-color: var(--light-background-color-2);
}

.coin-navigation {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;

    font-size: 1.7rem;
}

.coin-table {
    width: 90%;
    margin: auto;
    font-size: 1.7rem;
}

.table-headers {
    border-bottom: 1px solid var(--light-detail-color);
    border-top: 1px solid var(--light-detail-color);
    line-height: 3rem;
    font-weight: 700;
}

.table-row {
    text-align: center;
    line-height: 2.5rem;
}

.table-data__name {
    font-weight: 700;
}