:root {
	--light-text-color: rgb(241, 249, 241);
	--dark-text-color: rgb(7, 17, 7);

	--light-detail-color: rgb(76, 175, 80);
	--light-detail-color-faint: rgba(76, 175, 80, .2);
	--dark-detail-color: rgb(56, 128, 58);

	--light-background-color: rgb(245, 241, 241);
	--light-background-color-2: rgb(252, 253, 252);
	--dark-background-color: rgba(0, 0, 0, .85);

	--positive-color: rgb(11, 122, 11);
	--neutral-color: rgb(52, 52, 53);
	--negative-color: rgb(187, 14, 14);
}
