.coin-navigation {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	margin: 0 5% 1rem;

	font-size: 1.7rem;

	&__left,
	&__right {
		display: flex;
	}

	&__element {
		padding: 0 2rem 1rem;
		cursor: pointer;
		transition: all .1s;

		&:hover {
			color: var(--light-detail-color);
		}
	}
}
