.coin-stats {
	display: inline-block;
	width: 75%;
	height: 80%;

	position: fixed;
	top: 10%;
	left: 12.5%;

	border: 1px solid black;
	background-color: white;

	&__heading {
		margin: 2rem 4rem;
		font-size: 4rem;
		display: flex;
		justify-content: space-between;

		&--logo {
			vertical-align: middle;
			margin-top: -10px;
		}

		&--ticker {
			color: var(--dark-text-color-faint);
			font-size: 3.5rem;
		}

		&--name,
		&--ticker {
			display: inline-block;
		}
	}

	&__info {
		display: flex;
		justify-content: space-between;

		&--links {
			margin-left: 2rem;
			margin-top: .25rem;
			display: flex;
			justify-content: space-between;
			width: 110%;
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1.5;
		}
		&--link {
			font-weight: 400;
			padding: 0 1rem;
			border: 1px solid var(--light-detail-color-faint);
		}
	}
}
