.coins {
	margin: 3rem 5rem;
	padding: 3rem 0;
	background-color: var(--light-background-color-2);

	@include box-shadow-large;
}

// Scrollbar

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: var(--dark-detail-color);
}

// Color code for price changes
.positive {
	color: var(--positive-color);

	&:before {
		content: '+';
	}
}
.neutral {
	color: var(--neutral-color);
}
.negative {
	color: var(--negative-color);
}
