.coins {
	margin: 3rem 5rem;
	padding: 3rem 0;
	background-color: var(--light-background-color-2);

	@include box-shadow-large;

	@include respond(tab-land) {
		margin: 3rem 0;
		box-shadow: 0;

		//add horizontal scrolling for smaller devices
		display: block;
		overflow-x: auto;
		white-space: nowrap;
	}
}

// Color code for price changes
.positive {
	color: var(--positive-color);

	&:before {
		content: '+';
	}
}
.neutral {
	color: var(--neutral-color);
}
.negative {
	color: var(--negative-color);
}
