.coins {
	margin: 3rem 5rem;
	padding: 3rem 0;
	background-color: var(--light-background-color-2);
}

/* Color code for price changes */
.positive {
	color: var(--positive-color);
}
.neutral {
	color: var(--neutral-color);
}
.negative {
	color: var(--negative-color);
}

.btn-load {
	margin: 2rem 0 0 10rem;
}
