html {
	/* 1 rem = 10px */
	font-size: 62.5%;

	@include respond(tab-port) {
		//8px
		font-size: 50%;
	}
}

body {
	min-height: 100vh;
	width: 100%;
	background-color: var(--light-background-color);
	font-family: 'Open Sans', sans-serif;
	line-height: 1;

	/* box-sizing will be inherited to the whole site */
	box-sizing: border-box;
}

main {
	padding: 3rem;

	@include respond(tab-land) {
		padding: 2rem 0;
	}
}
